body {
    background-color: #05096e;
    margin: 0;
    padding: 0;
}



header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.logo {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.titulo {
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

.imagenLogo {
    width: 20px;
    height: 20px;
}

.menuNavegacion {
    display: flex;
    align-items: center;
}

.enlaces {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.perfilBuscador {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0.4%;
}

.imagen {
    width: 30px;
    height: 30px;
    margin: 3%;
}

.bannerPrincipal {
    width: 100%;
    height: 350px;
    background: linear-gradient(90deg, #f15a8d, #7d3cff);    display: flex;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.titulo2 {
    font-size: 3.10em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.subtitulo {
    font-size: 1em;
    padding-bottom: 30px;
    color: white;
}

button {
    width: 20%;
    height: 15%;
    border-radius: 455px;
    border: 1px solid white;
    color: red;
    cursor: pointer
}

.categorias {
    display: flex;
    justify-content: space-around;   
    gap: 20px;
}

.accion,.comedia,.drama,.terror {
    margin-top: 5%;
    background-color: #030436;
    width: 10%;
    height: 110px;
    text-align: center;
    color: white;
}

.categoria {
   position: relative;
   top: 10px;
}

.imagenCategoria {
    padding-top: 20px;
    width: 30px;
    height: 30px;
}


.galeriaPeliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.tarjetaPelicula {
    border: 1px solid black;
   flex-basis: 33%;
   height: 300px;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.tarjetaPelicula img {
    width: 100%;
    height: 180px;
    background-color: #222;
    border-radius: 5px;
}

.contenedorPeliculaDestacada {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.columnaIzquierda {
    flex: 0 1 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.columnaDerecha {
    flex: 0 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pieDePagina {
    display: flex;
    flex-direction: column;
    background-color: #030436;
    padding: 20px;
    gap: 20px;
}

.pieDePagina > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pieDePagina span {
    text-align: center;
    color: #b4b4b4;
}






